<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>React boilerplate</title>
  </head>
  <body>
    <div id="root"></div>
    <div class="banner"><h1>Hi There</h1></div>
      <div class="bannerpicture"></div>
    <div class="about"><h2>About Us</h2></div>
      <div class="aboutdetails"><h5>Bacon ipsum dolor amet brisket filet mignon beef ribs alcatra leberkas. <br> Tongue kielbasa rump chislic t-bone short ribs burgdoggen hamburger beef ribs. Doner cow swine buffalo meatloaf. Ground round alcatra meatloaf corned beef, shoulder andouille tongue boudin buffalo short loin tenderloin bresaola shankle chuck. <br> Landjaeger andouille biltong pork fatback. Kevin landjaeger leberkas chislic. Ribeye rump chuck cow alcatra, ball tip filet mignon pig turkey brisket shankle ham.</h5></div>
    <div class="services"><h2>Services</h2></div>
    <div class="servicesdetails"><h5>Bacon ipsum dolor amet brisket filet mignon beef ribs alcatra leberkas. Tongue kielbasa rump chislic t-bone short ribs burgdoggen hamburger beef ribs. <br> Doner cow swine buffalo meatloaf. Ground round alcatra meatloaf corned beef, shoulder andouille tongue boudin buffalo short loin tenderloin bresaola shankle chuck. Landjaeger andouille biltong pork fatback. Kevin landjaeger leberkas chislic. Ribeye rump chuck cow alcatra, ball tip filet mignon pig turkey brisket shankle ham.</h5></div>
    <div class="contact"><h2>Contact Us</h2></div>
      <div class="contactdetails">
        <li>Address</li>
        <li>Number</li>
        <li>Opening hours</li>
      </div>
    <div class="footer">
      <div class="footer-copyright">
        Created by Zita Kerepesi
      </div>
    </div>
  </body>
</html>
